@model CYShop.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="CoverImagePath" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ProductBrandID" class="control-label">產品品牌</label>
                <select asp-for="ProductBrandID" class="form-control" asp-items="ViewBag.ProductBrandID"></select>
                <span asp-validation-for="ProductBrand.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ProductCategoryID" class="control-label">產品類型</label>
                <select asp-for="ProductCategoryID" class="form-control" asp-items="ViewBag.ProductCategoryID"></select>
                <span asp-validation-for="ProductCategory.Name" class="text-danger"></span>
            </div>
            <label>封面圖:</label>
            <br />
            @{
                string imgPath = Model.CoverImagePath == "need to update" ? "/img/example.jpg" : Model.CoverImagePath;
                <img class="rounded" src="@imgPath" height="100">
            }
            <br />
            <br />
            <div class="form-group">
                <label>更換封面圖: </label>
                <input name="FormFile" type="file" />
                <br />
                <label>-封面圖檔類型須為.jpg 且大小為2MB 以下</label>
            </div>
            <div class="form-group">
                <input type="submit" value="更新產品" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml");
    }
}
