@model List<ProductCategory>

@{
    ViewData["Title"] = "產品清單";
}

<div class="row">
    <div class="col-md-3 col-xl-2 bg-dark">
        @await Html.PartialAsync("_Sidebar", Model)
    </div>
    <div class="col-md-9 col-xl-10 pt-2">
        <div class="input-group">
            <input type="text" name="searchString" id="searchString" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <input type="submit" id="searchBtn" class="btn btn-primary" value="搜尋" />
                <a href="/" id="defaultView" class="btn btn-secondary my-2 my-sm-0">返回預設顯示</a>
            </div>
        </div>
        <div id="sortOrder" class="my-2">
            <button id="sortDefault" type="button" class="btn btn-outline-success active">預設排序</button>
            <button id="sortPrice" type="button" class="btn btn-outline-success">價格排序</button>
        </div>
        <div id="loadingSpinner" class="spinner-border m-5" role="status">
            <span class="sr-only"></span>
        </div>
        <div id="productList" class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-2">
            <div class="col" style="max-width: 230px;">
                <div class="card h-100">
                    <img src="/img/example.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Intel Core i9-13900K</h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-4 px-auto">
                                <h6>售價:</h6>
                                <h6 style="color: green;">22999</h6>
                            </div>
                            <div class="col-8 px-auto d-flex align-self-center">
                                <p class="visually-hidden">1</p>
                                <button class="btn btn-danger flex-grow-1">加入購物車</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="paginedList" class="pagination pt-1">
        </ul>
    </div>
</div>
