@model List<ProductCategory>

@{
    ViewData["Title"] = "產品清單";
}

<div class="row">
    <div class="col-md-3 col-xl-2 bg-dark">
        @await Html.PartialAsync("_Sidebar", Model)
    </div>
    <div class="col-md-9 col-xl-10 pt-2">
        <div class="input-group">
            <input type="text" name="searchString" id="searchString" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <input type="submit" id="searchBtn" class="btn btn-primary" value="搜尋" />
                <a href="/" id="defaultView" class="btn btn-secondary my-2 my-sm-0">返回預設顯示</a>
            </div>
        </div>
        <div id="sortOrder" class="my-2">
            <button id="sortDefault" type="button" class="btn btn-outline-success active">預設排序</button>
            <button id="sortPrice" type="button" class="btn btn-outline-success">價格排序</button>
        </div>
        <div id="loadingSpinner" class="spinner-border m-5" role="status">
            <span class="sr-only"></span>
        </div>
        <div id="productList" class="d-flex row g-2">
        </div>
        <div id="paginedList">
        </div>
    </div>
</div>
