

@{
    ViewData["Title"] = "訂單結果";
}

<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>結帳完成</h2>
        </div>
        <div class="py-5 text-center">
            <a asp-controller="Product" asp-action="Index" class="btn btn-primary">返回繼續購物</a>
            <a asp-action="Index" class="btn btn-primary">查看訂單總覽</a>
        </div>
    </main>
</div>
